.main-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-width {
    width: 600px;
}

.main-standard-description {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    align-items: center;
}

.main-description-color {
    color: grey;
}

.flex-row {
    display: flex;
    flex-direction:row;
}
.flex-column {
    display: flex;
    flex-direction:column;
}

.flex-column-center {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    align-content: center;
}

.main-block-play-players {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    flex-direction:column;
    align-items: center;
    align-content: center;
    margin-top: 10px;
}

.outer-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction:column;
    align-items: center;
    align-content: center;
    margin-top: 10px;
}

.title {
    font-size: 30px;
}